/* 
============================================== Login Form ==============================================
*/
#loginWrapper {
	max-width: 400px;
	margin: 0 auto;
	margin-top: 1em;
	background-color: var(--theme-white);
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	padding: 1em;
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
}

#loginWrapper a {
	background-image: url('../img/Flat-design-Google-logo-design-Vector-PNG.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 35px 35px;
	width: 90%;
	text-align: center;

}

#loginWrapper a:hover {
	background-color: var(--theme-secondary);
	color: var(--theme-white);
}

.welcomeMessage {
	text-align: center;
	font-size: 3em;
	margin-top: 50px;
	font-weight: bold;
}

.googSSO {
	background-color: var(--theme-primary);
}