@import url("reset.css?v=2.0");
@import url("headings.css?v=1.4.8");
@import url("fonts.css?v=1.4.8");

/* =============================== General Styles =============================== */

body {
	font-family: "Campton-Medium";
	background-color: var(--page-background);
}

.fake-h3 {
	font-size: 26px;
	font-weight: bold;
}

a {
	color: var(--theme-url-color);
}

a:hover {
	color: var(--theme-tertiary);
}

#expand-row {
	font-size: 2em;
	text-align: center;
	cursor: pointer;
}

.help-message {
	font-size: 80%;
	font-style: italic;
}

strong {
	font-weight: bolder;
	font-size: 120%;
}

table strong {
	font-size: 100%;
}

em {
	font-style: italic;
}

p {
	margin: 1em 0;
}

ul li,
ol li {
	margin: .5em 0;
	padding-left: 1em;
	list-style-position: inside;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

blockquote {
	display: block;
	margin: 1em 0;
	margin-left: 1em;
	border-left: 2px solid var(--theme-primary);
	padding: 1em;
	font-style: italic;
	background-color: transparent;
}

.canvasjs-chart-credit {
	display: none;
}

#wrapper {
	width: 100%;
}

.horizontalContainer {
	display: table;
}

.horizontalContainerCell {
	display: table-cell;
	padding: 5px;
}

/* =============================== Utility Styles =============================== */
.grid2 {
	display: grid;
	grid-template-columns: 1fr;
	/* gap: 10px; */
	/* margin: 1em 0; */
}

.grid3 {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;

}

.grid3.canvasjsreport>* {
	min-height: 1000px;
}

.grid2.canvasjsreport>* {
	min-height: 1000px;
}

.warning {
	color: red;
	display: inline;
}

.hidden {
	display: none;
}

.sort-value {
	display: none;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.right {
	text-align: right;
	float: right;
}

.left {
	text-align: left;
	float: left;
}

.button {
	background-color: var(--button-background);
	color: var(--theme-white);
	border: none;
	padding: 1em;
	border-radius: 4px;
	cursor: pointer;
	grid-column: span 2;
	font-size: 1em;
	margin: 1em 0;
}

.button a {
	color: var(--theme-white);
	text-decoration: none;
}

#delete-note {
	margin-top: unset;
	display: inline-block;
}

.time_input {
	width: 100px;
}

.time_input input {
	font-size: 1.5em;
	padding: 15px;
	margin-bottom: 1em;
}

#date_override_input {
	height: 2em;
}

.flex {
	display: flex;
	gap: 1em;
	margin-top: 5px;
	align-items: center;
}

.spinner {
	cursor: progress;
}

.blue-dot {
	height: 9px;
	width: 9px;
	background-color: #03a5fc;
	border-radius: 50%;
	/* display: inline-block; */
}

.yellow-dot {
	height: 9px;
	width: 9px;
	background-color: var(--warn-color);
	border-radius: 50%;
	/* display: inline-block; */
}

.red-dot {
	height: 9px;
	width: 9px;
	background-color: var(--crit-color);
	border-radius: 50%;
	/* display: inline-block; */
}

.alert-dot-container {
	display: flex;
	justify-content: center;
	max-width: 100%;
	padding-top: 4px;
}

.singleColForm {
	max-width: 800px;
}

.singleColForm label {
	background-color: var(--theme-primary);
	color: var(--theme-white);
	padding: 1em 0 1em 1em;
}

.singleColForm input {
	justify-self: start;
	padding: 1em;
}

.singleColForm select {
	padding: 1em 0 1em 1em;
	font-size: 1em;
}

.singleColForm input[type="checkbox"] {
	width: 20px;
	height: 20px;
	align-self: center;
}

#chevron {
	font-size: 0.8em;
	margin-left: 5px;
}

/* =============================== Header Styles =============================== */
#mainHeader {
	background: linear-gradient(to bottom, var(--header-grad-start), var(--header-grad-end) 50%, var(--header-grad-end) 55%, var(--header-grad-start));
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	padding: 1em;
	justify-items: center;
}

/* =============================== Footer Styles =============================== */
#mainFooter {
	padding-left: 1em;
	padding-bottom: 1em;
}

/* =============================== Navigation Styles =============================== */
#headerNav * {
	color: var(--theme-text-color);
	border-radius: 4px;
	text-align: center;
}

#headerNav #mainNav *:hover {
	background-color: var(--theme-url-highlight);
}

#headerNav #mobileMenu {
	display: block;
}

#headerNav nav {
	margin-top: 1em;
	display: none;
}

#headerNav nav a {
	display: block;
	padding: 1em;
	text-decoration: none;
}

#pageContent {
	padding: 1em;
	background-color: var(--page-background);
}

#bulk-actions-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: none;
	/* hide at first */
}

#bulk-actions-content {
	border-radius: 8px;
	margin: 0px 10px 10px 10px;
	padding: 10px 20px 10px 20px;
	background-color: var(--theme-primary);
	display: grid;
	grid-auto-columns: auto;
	grid-auto-flow: column;
	align-items: center;
	color: white;
}

.bulk-actions-center-element {
	text-align: center;
}

.bulk-actions-element {
	margin-left: 5px;
	margin-right: 5px;
}


/* =============================== Table Styles =============================== */

table,
table.dataTable.no-footer {
	width: 100%;
	border: 2px solid var(--theme-table-border-color);
}

colgroup {
	display: none;
}

th,
td {
	border: 1px solid var(--theme-primary);
	padding: 1em;
}

th {
	background-color: var(--theme-primary);
	border-bottom: 2px solid var(--theme-table-border-color);
	color: var(--theme-white);
	vertical-align: middle;
}

.data-table tr:nth-of-type(odd),
.nst tr:nth-of-type(odd),
#note-table tr:nth-of-type(odd) {
	background-color: var(--odd-color);
}

.data-table tr:nth-of-type(even),
.nst tr:nth-of-type(even),
#note-table tr:nth-of-type(even) {
	background-color: var(--even-color);
}

.data-table tr.warn,
.data-table tr.crit {
	color: var(--theme-white);
}

.data-table tr.warn a,
.data-table tr.crit a {
	color: var(--theme-white);
	text-decoration-color: underline;
}

.data-table tr.warn {
	background-color: var(--warn-color);
}

.data-table tr.warn a:hover {
	color: var(--crit-color);
}

.data-table tr.crit {
	background-color: var(--crit-color);
}

.data-table tr.crit a:hover {
	color: var(--warn-color);
}

th {
	display: none;
}

td {
	display: block;
}

td::before {
	content: attr(data-cell) ": ";
	font-weight: 700;
	text-transform: capitalize;
}

#expand-row td::before {
	content: unset;
}

table.dataTable .details a {
	display: block;
	font-size: 1.1em;
	margin-bottom: 1em;
}

table.dataTable .latestNote,
table.dataTable .details {
	overflow-wrap: break-word;
}

.latestNote strong,
.tableLocation strong {
	display: block;

}

.alertsTD div {
	display: flex;
	gap: 1em;

}

.exclude_days th {
	text-align: left !important;
}

/* =============================== Sub Menu Styles =============================== */
#subMenu {
	margin-top: -1em;
	padding: 1em;
	margin-bottom: 1em;
	background-color: var(--theme-primary);
	border-radius: 12px;
}

ul#subMenu,
ol#subMenu {
	list-style: none;
}

#subMenu li {
	margin: 1em 0;
}

#subMenu li a:hover {
	text-decoration: underline;
}

#subMenu a {
	color: var(--theme-white);
	text-decoration: none;
}

/* =============================== Tickets Styles =============================== */

#ticketWrapper {
	display: block;
	padding: 1em;
}

.ticketButtons {
	place-items: start;

}

.ticketButtons>div {
	display: flex;
	gap: .6em;
}

.ticketGrid {
	display: grid;
	margin-bottom: 1em;
	margin-top: 1em;
}

.ticketGrid>* {
	display: grid;
	grid-template-columns: 1fr;
	background-color: var(--theme-white);
}

.ticketGrid .currentClient {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 1em;
}

.ticketGrid label,
.ticketGrid span:first-of-type {
	background-color: var(--theme-primary);
	padding: .5em;
	color: var(--theme-white);
}

.ticketGrid span {
	margin-bottom: 5px;
}

.ticketGrid input,
select {
	border: 1px solid var(--theme-grey);
}

.ticketGrid input {
	padding: .5em;
}

.ticketGrid select {
	height: 30px;
	border-radius: none;
}

.detailContainer {
	margin-top: 1em;
}

.ticketSubject {
	display: grid;
	grid-template-columns: 150px 1fr;
	align-items: center;
}

.ticketSubject span,
.ticketSubject label {
	font-size: 1.5em;
	font-weight: 700;
}

.totalTime span {
	display: none;
}

.ticket-description {
	border: 20px solid var(--theme-primary);
	border-radius: 7px;
	padding: 1em;
	margin: 5px 0;
}

.ticket-description p:not(:first-child) {
	margin: 1em 0;
}

.ticket_log {
	font-size: 70%;
}

.dateInputs {
	display: flex;
	align-items: center;
}

.submit-group {
	display: flex;
	justify-content: space-between;

}

.ticket_log td:nth-child(1),
.ticket_log td:nth-child(2),
.note td:nth-child(1),
.note td:nth-child(2) {
	font-size: 80%;
}

#search-for-client {
	display: none;
	padding: 1em;
	align-items: center;
	justify-content: center;
	background-color: var(--theme-white);
	box-shadow: 0 0 2px var(--theme-table-border-color);
	margin-bottom: 1em;
}

#search-for-client h2 {
	margin-top: unset;
}

#search-for-client #search-results {
	margin-top: 1em;
}

#search-for-client input {
	display: block;
}

#note-table table {
	table-layout: fixed;
	width: 100%;
}

.ticket_note {
	word-wrap: break-word;
}

.timeColumn {
	width: 115px;
}

.child-ticket-details p {
	display: inline-block;
}

.note .note_id {
	font-size: 50%;
	display: block;
	text-align: right;
}

.note_id .created_date {
	display: none;
}

.note_id a,
.note_id span {
	display: block;
}

#profile_time_table {
	max-width: 800px;
}

#maximum-file-size-text {
	padding: 3px;
	margin-top: 5px;
	font-size: 80%;
}

#ticket-title-container {
	display: inline-block;
	cursor: pointer;
	margin-bottom: 20px;
	font-size: 32px;
}

#ticket-title-container a {
	color: var(--theme-text-color);
	text-decoration: none;
}

#ticket-title-container a:hover {
	color: var(--theme-url-color);
	text-decoration: underline;
}

/* =============================== Alerts Styles =============================== */
.alerts_wrapper {
	margin: 0 auto;
}

.alerts_wrapper p {
	padding: .5em 1em;
	margin: 0 0 2px 0;
}

.alerts_wrapper a {
	text-decoration: none;
}

.alerts_wrapper p a:first-of-type {
	color: var(--theme-white);
}

.alerts_wrapper p a:hover {
	color: var(--theme-url-color);
	text-decoration: underline;
}

.alerts_wrapper .close-alert {
	text-decoration: none;
	color: var(--theme-white);
	float: right;
	font-weight: bold;
}

.alerts_wrapper .crit {
	background-color: var(--crit-color);
}

.alerts_wrapper .warn {
	background-color: var(--warn-color);
}

/* =============================== Tickets Log =============================== */
#ticket-history {
	display: none;
}

#ticket-history-status {
	margin-bottom: 1em;
}

.ticket_log .note-container {
	overflow: hidden;
	height: 20px;
	position: relative;
}

.ticket_log .note-container:hover {
	overflow: visible;
	height: auto;
}

.ticket_log .note {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	padding: 10px;
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.ticket_log .note-container:hover .note {
	display: block;
	visibility: visible;
	opacity: 1;
}

.ticket_log tr {
	height: 45px;
}

/* =============================== User Management Screen =============================== */
.userPermissions div {
	display: grid;
	grid-template-areas: "input label";
	grid-template-columns: 15px auto;
	gap: 10px;
	justify-items: start;
}

.userPermissions label {
	grid-area: label;
}

.userPermissions input {
	grid-area: input;
}

/* =============================== Attachment Styles =============================== */
#file_list {
	list-style: none;
}

#file_list .file_del {
	color: #c70000;
	cursor: pointer;
}

#file_list .file_download {
	color: #008000;
	cursor: pointer;
	text-decoration: none;
}

/* =============================== Responsive Styles =============================== */

@media (max-width: 400px) {

	#headerNav,
	#subMenu {
		font-size: 12px;
	}
}

/* End of min0width: 400px media query */

@media (min-width: 750px) {

	.ticketButtons {
		place-items: end;
	}

	#subMenu {
		display: flex;
		justify-content: var(--header-location);
		align-items: center;
		gap: 2em;
	}

	#subMenu li {
		margin: unset;
	}

	.alerts_wrapper {
		width: 60%;
		max-width: 650px;
	}
}

/* End of min0width: 750px media query */

@media(min-width: 800px) {
	#mainHeader {
		grid-template-columns: 175px 1fr 250px;
		align-items: center;
		justify-items: var(--header-location);
	}

	#headerNav * {
		padding: 1em;
	}

	#headerNav {
		display: flex;
		justify-content: var(--header-location);
	}

	#headerNav nav {
		display: block;
	}

	#headerNav #mobileMenu {
		display: none;
	}

	#headerNav nav a {
		display: unset;
		padding: 1em;
	}

	.time_input {
		width: unset;
	}

	.time_input input {
		font-size: unset;
		padding: unset;
	}

	.totalTime {
		text-align: right;
	}

	.totalTime span {
		display: inline-block;
	}

	th,
	td {
		display: table-cell;
	}

	td::before {
		content: unset;
		font-weight: unset;
		text-transform: unset;
	}

	.ticket_log th:nth-child(1),
	.ticket_log td:nth-child(2),
	.note th:nth-child(1),
	.note td:nth-child(2) {
		width: 100px;
	}

	.alertsTD div {
		display: grid;

		gap: 1em;

	}

	.grid2 {
		grid-template-columns: 1fr 1fr;
	}

	.grid3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.ticketsTable {
		font-size: 80%;
	}

	table .tableUser {
		width: 100px;
	}

	.ticketGrid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.ticketGrid>* {
		align-items: center;
	}

	.form-group {
		display: flex;
	}

	.form-group-span2 {
		display: grid;
		gap: 1em;
		grid-column: span 2;
		grid-template-columns: 1fr 375px;
	}

	.ticketGrid input,
	.ticketGrid select {
		flex: 3;
	}

	.ticketGrid span:first-of-type {
		margin-right: 5px;
		margin-bottom: .5em;
	}

	.currentClient {
		padding: 0.5em;
		display: grid;
		grid-template-columns: minmax(min-content, 540px) 1fr;
	}

	.readonlyClient {
		display: grid;
		grid-template-columns: minmax(min-content, 540px) 1fr;
	}

	.currentClient,
	.readonlyClient {
		grid-column: span 2;
	}

	.currentClient a {
		place-self: end;
		padding-right: 1em;
		align-self: center;
	}

	#search-for-client input {
		display: unset;
	}

	.taskTable {
		max-width: 50%;
	}

	.taskTable tr {
		display: grid;
		grid-template-columns: minmax(150px, 1fr) minmax(125px, 1fr) 120px 110px;
		word-wrap: break-word;
	}
}

/* End of min-width: 800px media query */

@media(min-width: 1050px) {
	.ticketGrid {
		gap: 1em;
	}

	.ticketGrid span,
	.ticketGrid label {
		width: 200px;
	}

	.ticketGrid>*:not(.currentClient) {
		display: flex;
	}

	.ticketGrid span:first-of-type {
		margin-bottom: unset;
	}
}

/* End of min-width: 1050px media query */