@import url("reset.css?v=2.0");
@import url("variables-common.css?v=1.01.2");
@import url("headings.css?v=1.01.0");
@import url("fonts.css?v=1.01.0");

/* =============================== General Styles =============================== */

body {
	font-family: "Campton-Medium";
	background-color: var(--page-background);
}

.fake-h3 {
	font-size: 26px;
	font-weight: bold;
}

a {
	color: var(--theme-url-color);
	text-decoration: none;
}

a:hover {
	color: var(--theme-tertiary);
	text-decoration: underline;
}

#green-button {
	background-color: #3aa410;
}

.help-message {
	font-size: 80%;
	font-style: italic;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

p {
	margin: 1em 0;
}

ul li,
ol li {
	margin: .5em 0;
	padding-left: 1em;
	list-style-position: inside;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

blockquote {
	display: block;
	margin: 1em 0;
	margin-left: 1em;
	border-left: 2px solid var(--theme-primary);
	padding: 1em;
	font-style: italic;
	background-color: transparent;
}

button,
input[type=submit] {
	background-color: var(--theme-primary);
	color: var(--theme-white);
	border: none;
	padding: 1em;
	border-radius: 4px;
	cursor: pointer;
	display: block;

}

.canvasjs-chart-credit {
	display: none;
}

#wrapper {
	width: 100%;
	/* padding:1em; */
}

.horizontalContainer {
	display: table;
}

.horizontalContainerCell {
	display: table-cell;
	padding: 5px;
}

/* =============================== Utility Styles =============================== */
.grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.grid3 {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;

}

.grid3.canvasjsreport>* {
	min-height: 1000px;
}

.grid2.canvasjsreport>* {
	min-height: 1000px;
}

.warning {
	color: red;
	display: inline;
}


.hidden {
	display: none;
}

.sort-value {
	display: none;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.right {
	text-align: right;
	float: right;
}

.left {
	text-align: left;
	float: left;
}

.button {
	background-color: var(--theme-primary);
	color: var(--theme-white);
	border: none;
	padding: 1em;
	border-radius: 4px;
	cursor: pointer;
	grid-column: span 2;
	font-size: 1em;
	margin: 1em 0;
}

#delete-note {
	margin-top: unset;
	display: inline-block;

}

/*
.new-note-button {
	margin-bottom: 1em;
	margin-top: 1em;
}

.right .new-note-button {
	margin-top: unset;
}
*/
/* =============================== Header Styles =============================== */
#mainHeader {
	background: linear-gradient(to bottom, var(--header-grad-start), var(--header-grad-end) 50%, var(--header-grad-end) 55%, var(--header-grad-start));
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	/* max-height: 170px; */
	padding: 1em;
	justify-items: center;
}

/* =============================== Footer Styles =============================== */
#mainFooter {
	padding-left: 1em;
	padding-bottom: 1em;
}

/* =============================== Navigation Styles =============================== */
#headerNav * {
	color: var(--theme-text-color);
	border-radius: 4px;
	text-align: center;
}

#headerNav *:hover {
	background-color: var(--theme-url-highlight);
}

#headerNav #mobileMenu {
	display: block;
}

#headerNav nav {
	margin-top: 1em;
	display: none;
}

#headerNav nav a {
	display: block;
	padding: 1em;
}

#pageContent {
	padding: 1em;
	background-color: var(--page-background);
}

/* =============================== Table Styles =============================== */

table,
table.dataTable.no-footer {
	width: 100%;
	border: 2px solid var(--theme-table-border-color);
	table-layout: fixed;
}

table[style] {
	width: 100% !important;
}

th,
td {
	border: 1px solid var(--theme-primary);
	padding: 1em;
}

th {
	background-color: var(--theme-primary);
	border-bottom: 2px solid var(--theme-table-border-color);
	color: var(--theme-white);
	vertical-align: middle;
}

.data-table tr:nth-of-type(odd),
.nst tr:nth-of-type(odd),
#note-table tr:nth-of-type(odd) {
	background-color: var(--odd-color);
}

.data-table tr:nth-of-type(even),
.nst tr:nth-of-type(even),
#note-table tr:nth-of-type(even) {
	background-color: var(--even-color);
}

.data-table tr.warn,
.data-table tr.crit {
	color: var(--theme-white);
}

.data-table tr.warn a,
.data-table tr.crit a {
	color: var(--theme-black);
}

.data-table tr.warn {
	background-color: var(--warn-color);
}

.data-table tr.warn a:hover {
	color: var(--crit-color);
}

.data-table tr.crit {
	background-color: var(--crit-color);
}

.data-table tr.crit a:hover {
	color: var(--warn-color);
}

th {
	display: none;
}

td {
	display: block;
}

td::before {
	content: attr(data-cell) ": ";
	font-weight: 700;
	text-transform: capitalize;
}

table.dataTable .details a {
	display: block;
	margin-bottom: 1em;
}

table.dataTable .latestNote,
table.dataTable .details {
	word-break: break-all;
	overflow-wrap: break-word;
}

/* =============================== Sub Menu Styles =============================== */
#subMenu {
	margin-top: -1em;
	padding: 1em;
	margin-bottom: 1em;
	background-color: var(--theme-primary);
	border-radius: 12px;
}

ul#subMenu,
ol#subMenu {
	list-style: none;
}

#subMenu li {
	margin: 1em 0;
}

#subMenu a {
	color: var(--theme-white);
}

/* =============================== Tickets Styles =============================== */

#ticketWrapper {
	display: block;
	padding: 1em;
}

.ticketGrid {
	display: grid;
	margin-bottom: 1em;
	margin-top: 1em;
}

.ticketGrid>* {
	display: grid;
	grid-template-columns: 1fr;
	background-color: var(--theme-white);

}

.ticketGrid label,
.ticketGrid span:first-of-type {
	background-color: var(--theme-primary);
	padding: .5em;
	color: var(--theme-white);
}

.ticketGrid span {
	margin-bottom: 5px;
}

.ticketGrid input,
select {
	border: 1px solid var(--theme-grey);
}

.ticketGrid input {
	padding: .5em;
}

.ticketGrid select {
	height: 30px;
	border-radius: none;
}

.detailContainer {
	margin-top: 1em;
}

.ticketSubject {
	grid-template-columns: 150px 1fr;
	align-items: center;
}

.ticketSubject span,
.ticketSubject label {
	font-size: 1.5em;
	font-weight: 700;
}

.totalTime span {
	display: none;
}

.ticket-description {
	border: 20px solid var(--theme-primary);
	border-radius: 7px;
	padding: 1em;
	margin: 5px 0;
}

.ticket-description p:not(:first-child) {
	margin: 1em 0;
}

.ticket_log {
	font-size: 70%;
}

.ticket_log td:nth-child(1),
.ticket_log td:nth-child(2),
.note td:nth-child(1),
.note td:nth-child(2) {
	font-size: 80%;
}

#search-for-client {
	display: none;
	padding: 1em;
	align-items: center;
	justify-content: center;
	background-color: var(--theme-white);
	box-shadow: 0 0 2px var(--theme-table-border-color);
	margin-bottom: 1em;
}

#search-for-client h2 {
	margin-top: unset;
}

#search-for-client #search-results {
	margin-top: 1em;
}

#search-for-client input {
	display: block;
}

.ticket_note p {
	margin: 1em 0;
	display: block;
}

.timeColumn {
	width: 200px;
}

/* =============================== Alerts Styles =============================== */
.alerts_wrapper {
	margin: 0 auto;
}

.alerts_wrapper p {
	padding: .5em 1em;
	margin: 0 0 2px 0;

}

.alerts_wrapper p a:first-of-type {
	color: var(--theme-white);
}

.alerts_wrapper p a:hover {
	color: var(--theme-url-color);

}

.alerts_wrapper .close-alert {
	text-decoration: none;
	color: var(--theme-white);
	float: right;
	font-weight: bold;
}

.alerts_wrapper .crit {
	background-color: var(--crit-color);
}

.alerts_wrapper .warn {
	background-color: var(--warn-color);
}

/* =============================== Tickets Log =============================== */
.ticket_log .note-container {
	overflow: hidden;
	height: 20px;
	position: relative;
}

.ticket_log .note-container:hover {
	overflow: visible;
	height: auto;
}

.ticket_log .note {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	padding: 10px;
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.ticket_log .note-container:hover .note {
	display: block;
	visibility: visible;
	opacity: 1;
}

.ticket_log tr {
	height: 45px;
}

/* =============================== User Management Screen =============================== */
.userPermissions div {
	display: grid;
	grid-template-areas: "input label";
	grid-template-columns: 15px auto;
	gap: 10px;
	justify-items: start;
}

.userPermissions label {
	grid-area: label;
}

.userPermissions input {
	grid-area: input;
}

/* =============================== Responsive Styles =============================== */
@media(min-width: 800px) {
	#mainHeader {
		grid-template-columns: 175px 1fr 250px;
		align-items: center;
		justify-items: var(--header-location);
	}

	#headerNav * {
		padding: 1em;
	}

	#headerNav {
		display: flex;
		justify-content: var(--header-location);
	}

	#headerNav nav {
		display: block;
	}

	#headerNav #mobileMenu {
		display: none;
	}

	#headerNav nav a {
		display: unset;
		padding: 1em;
	}

	.totalTime {
		text-align: right;
	}

	.totalTime span {
		display: inline-block;
	}

	th,
	td {
		display: table-cell;
	}

	td::before {
		content: unset;
		font-weight: unset;
		text-transform: unset;
	}

	.ticket_log th:nth-child(1),
	.ticket_log td:nth-child(2),
	.note th:nth-child(1),
	.note td:nth-child(2) {
		width: 100px;
	}

	.grid3 {
		grid-template-columns: repeat(3, 1fr);

	}

	.ticketsTable {
		font-size: 80%;
	}

	/* Table Column Widths */
	table .tableUser {
		width: 100px;
	}

	@media (min-width: 750px) {
		.ticketGrid {
			grid-template-columns: 1fr 1fr;
			gap: 1em;
		}

		#subMenu {
			display: flex;
			justify-content: var(--header-location);
			align-items: center;
			gap: 2em;
		}

		#subMenu li {
			margin: unset;
		}

		.alerts_wrapper {
			width: 60%;
			max-width: 650px;
		}
	}

	@media (min-width:800px) {
		.ticketGrid>* {
			/* display: grid;
		grid-template-columns: 200px 1fr; */
			display: flex;
			/* justify-content: space-between; */
			align-items: center;

		}

		.ticketGrid span,
		.ticketGrid label {
			width: 200px;
			/* flex: 1; */
		}

		.ticketGrid input,
		.ticketGrid select {
			flex: 3;
		}

		.ticketGrid span:first-of-type {
			margin-right: 5px;
			max-width: 200px;
			margin-bottom: unset;
		}

		.currentClient {
			padding: 0.5em;
			display: grid;
			grid-template-columns: minmax(min-content, 540px) 1fr;
		}

		.readonlyClient {
			display: grid;
			grid-template-columns: minmax(min-content, 540px) 1fr;
		}

		.currentClient,
		.readonlyClient {
			grid-column: span 2;
		}

		.currentClient a {
			place-self: end;
			padding-right: 1em;
			align-self: center;
		}

		#search-for-client input {
			display: unset;
		}
	}

	@media (max-width: 400px) {

		#headerNav,
		#subMenu {
			font-size: 12px;
		}
	}

	.note .note_id {
		font-size: 50%;
		display: block;
		text-align: right;
	}

	.note_id .created_date {
		display: none;
	}

	.note_id a,
	.note_id span {
		display: block;
	}

	#profile_time_table {
		max-width: 800px;
	}

	#maximum-file-size-text {
		padding: 3px;
		margin-top: 5px;
		font-size: 80%;
	}

	#ticket-title-container {
		display: inline-block;
		cursor: pointer;
		margin-bottom: 20px;
		font-size: 32px;
	}
}