@import url("reset.css?v=2.0");
@import url("variables.css?v=1.0.01");
@import url("headings.css?v=1.0.01");
@import url("fonts.css?v=1.0");

/* =============================== General Styles =============================== */
body {
	font-family: "Campton-Medium";
	background-color: var(--theme-grey);
}

a {
	color: var(--do-site-blue);
	text-decoration: none;
}

a:hover {
	color: var(--do-site-yellow);
}

button,
input[type=submit] {
	background-color: var(--do-site-blue);
	color: var(--theme-white);
	border: none;
	padding: 1em;
	border-radius: 4px;
	cursor: pointer;

}

#wrapper {
	width: 100%;
	/* padding:1em; */
}

.warning {
	color: red;
	display: inline;
}

.grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

/* =============================== Header Styles =============================== */
#mainHeader {
	background: linear-gradient(to bottom, var(--header-grad-start), var(--header-grad-end) 50%, var(--header-grad-end) 55%, var(--header-grad-start));
	display: grid;
	grid-template-columns: 1fr;
	max-height: 120px;
	padding: 1em;
	justify-items: center;

}

/* =============================== Footer Styles =============================== */
#mainFooter {
	padding-left: 1em;
	padding-bottom: 1em;
}

/* =============================== Navigation Styles =============================== */
#headerNav a {
	color: var(--theme-black);
	padding: 1em;
	border-radius: 4px;
	text-align: center;
}

#headerNav a:hover {
	background-color: var(--theme-grey);
}

#pageContent {
	padding: 1em;
}



/* =============================== Table Styles =============================== */
table {
	width: 100%;
	border: 1px solid;
	border-collapse: collapse;
}

table[style] {
	width: 100% !important;
}

th,
td {
	border: 1px solid;
	background-color: var(--theme-white);
	padding: 1em;
}

th {
	background-color: var(--darker-grey);
	border-bottom: 2px solid;
}

tr:nth-of-type(2n) td {
	background-color: #eee;
}

th {
	display: none;
}

td {
	display: block;
}

td::before {
	content: attr(data-cell) ": ";
	font-weight: 700;
	text-transform: capitalize;
}

/* =============================== Sub Menu Styles =============================== */
#subMenu {
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: var(--theme-white);
	padding: 1em;
	gap: 2em;
	margin-bottom: 1em;
	margin-top: -1em;
}

/* =============================== Tickets Styles =============================== */

#ticketWrapper {
	display: block;
	background-color: var(--theme-white);
	padding: 1em;
}

.ticketGrid {
	display: grid;
	margin-bottom: 1em;
}

.ticketGrid>* {
	display: grid;
	grid-template-columns: 1fr;
}

.ticketGrid label {
	background-color: var(--theme-grey);
	padding: .5em;
}

.ticketGrid input,
select {
	border: 1px solid var(--theme-grey);
}

.ticketGrid input {
	padding: .5em;
}

.ticketGrid select {
	height: 30px;
	background-color: var(--theme-white);
	border-radius: none;
}

.detailContainer {
	margin-top: 1em;
}

.ticketSubject {
	grid-template-columns: 150px 1fr;
	align-items: center;
}

.ticketSubject span,
.ticketSubject label {
	font-size: 1.5em;
	font-weight: 700;
}

.totalTime span {
	display: none;
}

.ticket-description {
	border: 20px solid var(--do-light-blue);
	border-radius: 7px;
	padding: 1em;
	margin: 5px 0;
}

.ticket-description p:not(:first-child) {
	margin: 1em 0;
}

.ticket_log td:nth-child(1),
.ticket_log td:nth-child(2),
.note td:nth-child(1),
.note td:nth-child(2) {
	font-size: 80%;
}

/* =============================== Responsive Styles =============================== */
@media(min-width: 800px) {
	#mainHeader {
		grid-template-columns: 175px 1fr;
		align-items: center;
		justify-items: end;
	}

	#headerNav {
		display: flex;
		justify-content: end;
	}

	.totalTime {
		text-align: right;
	}

	.totalTime span {
		display: inline-block;
	}

	th,
	td {
		display: table-cell;
	}

	td::before {
		content: unset;
		font-weight: unset;
		text-transform: unset;
	}

	.ticket_log table th:nth-child(1) {
		width: 100px;
	}

	.ticket_log table th:nth-child(2) {
		width: 150px;
	}
}

@media (min-width: 750px) {
	.ticketGrid {
		grid-template-columns: 1fr 1fr;
		gap: 1em;
	}
}

@media (min-width:575px) {
	.ticketGrid>* {
		display: grid;
		grid-template-columns: minmax(min-content, 150px) 1fr;
		align-items: center;
	}
}

@media (max-width: 400px) {

	#headerNav,
	#subMenu {
		font-size: 12px;
	}
}