/*
https://alvarotrigo.com/blog/css-alerts/
*/
.ticket-status-notification .alert {
    position: relative;
    top: 10;
    left: 0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 400;
  }
  
  .ticket-status-notification .alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
  }

  .ticket-status-notification .info {
    background-color: #EEE;
    border: 1px solid #DDD;
    color: #999;
  }
  
  .ticket-status-notification .success {
    background-color: #EFE;
    border: 1px solid #DED;
    color: #9A9;
  }
  
  .ticket-status-notification .notice {
    background-color: #EFF;
    border: 1px solid #DEE;
    color: #9AA;
  }
  
  .ticket-status-notification .warning {
    background-color: #FDF7DF;
    border: 1px solid #FEEC6F;
    color: #C9971C;
  }
  
  .ticket-status-notification .error {
    background-color: #FEE;
    border: 1px solid #EDD;
    color: #A66;
  }