@media (prefers-color-scheme: light) {
    :root {
        --header-grad-start: #dce3e8;
        --header-grad-end: #f6f9fb;
        --theme-url-color: #25384C;
        --theme-text-color: #000;
        --theme-tertiary: #C25400;
        --theme-secondary: #2c4938;
        --theme-primary: #1c2f4a;
        --page-background: #f5f5f5;
        --even-color: #f1f5f9;
        --odd-color: #dbe1e7;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-grad-start: #181818;
        --header-grad-end: #242424;
        --theme-url-color: #181818;
        --theme-text-color: #fff;
        --theme-tertiary: #919191;
        --theme-secondary: #3b3b3b;
        --theme-primary: #3b3b3b;
        --page-background: #181818;
        --even-color: #1C1C1C;
        --odd-color: #4A4A4a;
    }

    input,
    select {
        background-color: var(--theme-black);
        border: 1px solid var(--theme-grey);
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    * {
        color: var(--theme-text-color);
    }

    #pcsd-logo {
        -webkit-filter: grayscale(100%) invert(100%);
        filter: grayscale(100%) invert(100%);
    }

    table.dataTable tbody tr {
        background-color: var(--odd-color);
    }

    table a {
        color: var(--theme-text-color);
    }
}