:root {
	--header-grad-start: #dce3e8;
	--header-grad-end: #f6f9fb;
	--theme-url-color: #25384C;
	--theme-text-color: #000;
	--theme-tertiary: #df6d1b;
	--theme-secondary: #2c4938;
	--theme-primary: #1c2f4a;
	--page-background: #f5f5f5;
	--even-color: #f1f5f9;
	--odd-color: #dbe1e7;
	--theme-url-highlight: #eee;
	--theme-table-border-color: var(--theme-primary);
	--warn-color: #ff9800;
	--crit-color: #f44336;
	--theme-white: #ebebeb;
}

.notClientVisible {
	background-color: var(--theme-white) !important;
	color: var(--theme-black);
	display: block;
	padding: 1em;
	border-radius: 3px;
	margin-bottom: 1em;
}

.clientVisible {
	background-color: rgb(206, 238, 249);
	color: var(--theme-black);
	display: block;
	padding: 1em;
	border-radius: 3px;
	margin-bottom: 1em;
}

.nonTech {
	background-color: rgb(253, 255, 154);
	color: var(--theme-black);
	display: block;
	padding: 1em;
	border-radius: 3px;
	margin-bottom: 1em;
}

#new-note-form-background {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

body {
	color: #333
}

/* Modal Content */
#new-note-form {
	position: relative;
	background-color: var(--theme-white);
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
	border-radius: 10px;
}

#new-note-form-header {
	padding: 2px 16px;
	color: var(--theme-white);
}

#new-note-form-close {
	color: grey;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#new-note-form-close:hover,
#new-note-form-close:focus {
	color: lightgrey;
	text-decoration: none;
	cursor: pointer;
}


@keyframes animatetop {
	0% {
		transform: translateY(-300px);
	}

	100% {
		transform: translateY(0px);
	}
}