:root {
	--header-grad-start: #181818;
	--header-grad-end: #242424;
	--theme-url-color: #34e0e3;
	--theme-text-color: #e0e0e0;
	--theme-tertiary: #df6d1b;
	--theme-secondary: #3b3b3b;
	--theme-primary: #282828;
	--page-background: #181818;
	--even-color: #1C1C1C;
	--odd-color: #4A4A4a;
	--theme-url-highlight: var(--theme-secondary);
	--theme-table-border-color: var(--theme-white);
	--warn-color: #FF8C00;
	--crit-color: #8B0000;
	--theme-note-invisible: #fff;
	--theme-white: #e0e0e0;
	--success-color: #4caf50;
	--tech-only-note: #fff;
}

input,
select {
	background-color: var(--theme-black);
	border: 1px solid var(--theme-grey);
}

input[type="date"]::-webkit-calendar-picker-indicator {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

* {
	color: var(--theme-text-color);
}

#pcsd-logo {
	-webkit-filter: grayscale(100%) invert(100%);
	filter: grayscale(100%) invert(100%);
}

table.dataTable tbody tr {
	background-color: var(--odd-color);
}

table a {
	color: var(--theme-text-color);
}

.ticketGrid>* {
	background-color: var(--theme-black);
}

.canvasjs-chart-canvas {
	filter: invert(1)
}

#search-for-client {
	background-color: unset;
}

.notClientVisible {
	background-color: var(--theme-note-invisible) !important;
	display: block;
	padding: 1em;
	border-radius: 3px;
	margin-bottom: 1em;

}

.notClientVisible * {
	color: #000;
}

.notClientVisible * {
	color: var(--theme-black);
}

.clientVisible {
	background-color: rgb(49, 134, 163);
	color: var(--theme-white);
	display: block;
	padding: 1em;
	border-radius: 3px;
	margin-bottom: 1em;
}

.nonTech {
	background-color: rgb(137, 135, 0);
	color: var(--theme-white);
	display: block;
	padding: 1em;
	border-radius: 3px;
	margin-bottom: 1em;
}

#new-note-form-background {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content */
#new-note-form {
	position: relative;
	background-color: var(--page-background);
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
	border-radius: 10px;
}

#new-note-form-header {
	padding: 2px 16px;
	color: var(--page-background);
}

#new-note-form-close {
	color: grey;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#new-note-form-close:hover,
#new-note-form-close:focus {
	color: lightgrey;
	text-decoration: none;
	cursor: pointer;
}

.modal-form-background {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

.modal-form {
	position: relative;
	background-color: var(--page-background);
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
	border-radius: 10px;
}

.modal-form-header {
	padding: 2px 16px;
	color: var(--page-background);
}

.modal-form-close {
	color: grey;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal-form-close:hover,
.modal-form-close:focus {
	color: lightgrey;
	text-decoration: none;
	cursor: pointer;
}

@keyframes animatetop {
	0% {
		transform: translateY(-300px);
	}

	100% {
		transform: translateY(0px);
	}
}

/* jqueryUI */
.ui-autocomplete {
	background-color: var(--page-background);
}

/* status colors */
.ticket-status-notification .info {
	background-color: #5f5f5f;
}

.ticket-status-notification .error {
	background-color: var(--crit-color);
}

.ticket-status-notification .success {
	background-color: var(--success-color);
}