:root {
	--header-grad-start: #181818;
	--header-grad-end: #242424;
	--theme-url-color: #34e0e3;
	--theme-text-color: #ffffff;
	--theme-tertiary: #919191;
	--theme-secondary: #3b3b3b;
	--theme-primary: #282828;
	--page-background: #181818;
	--even-color: #1C1C1C;
	--odd-color: #4A4A4a;
	--theme-url-highlight: var(--theme-secondary);
	--theme-table-border-color: var(--theme-white);
}

input,
select {
	background-color: var(--theme-black);
	border: 1px solid var(--theme-grey);
}

input[type="date"]::-webkit-calendar-picker-indicator {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

* {
	color: var(--theme-text-color);
}

#pcsd-logo {
	-webkit-filter: grayscale(100%) invert(100%);
	filter: grayscale(100%) invert(100%);
}

table.dataTable tbody tr {
	background-color: var(--odd-color);
}

table a {
	color: var(--theme-text-color);
}
