@media (prefers-color-scheme: light) {
    :root {
        --header-grad-start: #dce3e8;
        --header-grad-end: #f6f9fb;
        --theme-url-color: #25384C;
        --theme-text-color: #000;
        --theme-tertiary: #ccc;
        --theme-secondary: #eee;
        --theme-primary: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-grad-start: #181818;
        --header-grad-end: #242424;
        --theme-url-color: #8bedf7;
        --theme-text-color: #fff;
        --theme-tertiary: #404040;
        --theme-secondary: #303030;
        --theme-primary: #181818;
    }
}