:root {
    --header-grad-start: #181818;
    --header-grad-end: #242424;
    --theme-url-color: #8bedf7;
    --theme-text-color: #fff;
    --theme-tertiary: #404040;
    --theme-secondary: #303030;
    --theme-primary: #181818;
}

@media (prefers-color-scheme: dark) {
	input[type="text"], input[type="number"], input[type="password"], select {
		background-color: var(--theme-black);
		border: 1px solid var(--theme-grey);
	}
	
	.ticketGrid input[type="date"] {
		background-color: var(--theme-black);
	}
	
	input[type="date"]::-webkit-calendar-picker-indicator {
		-webkit-filter: invert(100%);
		filter: invert(100%);
	}

	.ticketGrid select {
		background-color: var(--theme-black);
	}

	* {
		color: var(--theme-text-color);
	}

	#pcsd-logo {
		-webkit-filter: grayscale(100%) invert(100%);
		filter: grayscale(100%) invert(100%);
	}
}