<ul id="subMenu">
    <li><a href="/admin.php">All Unassigned Tickets</a></li>
    <li><a href="/controllers/admin/user_management.php">User Management</a></li>
    <li><a href="/controllers/admin/exclude_days_management.php">Exclude Days Management</a></li>
    <li><a href="/controllers/admin/merge_tickets.php">Merge Tickets</a></li>
    <li><a href="/controllers/admin/view_feedback.php">View Feedback</a></li>
    {% if is_developer %}
        <li><a href="/controllers/admin/manage_api_keys.php">Manage API Keys</a></li>
    {% endif %}
</ul>